@import "bourbon/bourbon"

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

button, button:active, button:focus,
input, input:active, input:focus
	outline: none

ol, ul
	list-style: none

.clearfix
	&:after
		content: ''
		display: table
		clear: both
	&:before
		content: ''
		display: table

.search__input
	&::-webkit-input-placeholder
		font-family: "MuseoSansLightItalic", sans-serif
		color: #515052
		font-size: 14px
		line-height: 50px
	&::-moz-placeholder
		font-family: "MuseoSansLightItalic", sans-serif
		color: #515052
		font-size: 14px
		line-height: 50px
	&:-moz-placeholder
		font-family: "MuseoSansLightItalic", sans-serif
		color: #515052
		font-size: 14px
		line-height: 50px
	&:-ms-input-placeholder
		font-family: "MuseoSansLightItalic", sans-serif
		color: #515052
		font-size: 14px
		line-height: 50px

.sidebar-menu__title-name-open
	&::after
		background-position: top left !important

.consultation__comment-area
	&::-webkit-input-placeholder
		line-height: 18px !important
	&::-moz-placeholder
		line-height: 18px !important
	&:-moz-placeholder
		line-height: 18px !important
	&:-ms-input-placeholder
		line-height: 18px !important

.consultation__input, .consultation__comment-area
	&::-webkit-input-placeholder
		font-family: "OpenSansRegular", sans-serif
		font-size: 14px
		color: #959397
		line-height: 50px
	&::-moz-placeholder
		font-family: "OpenSansRegular", sans-serif
		font-size: 14px
		color: #959397
		line-height: 50px
	&:-moz-placeholder
		font-family: "OpenSansRegular", sans-serif
		font-size: 14px
		color: #959397
		line-height: 50px
	&:-ms-input-placeholder
		font-family: "OpenSansRegular", sans-serif
		font-size: 14px
		color: #959397
		line-height: 50px

.search-sidebar
	.search__input
		&::-webkit-input-placeholder
			line-height: 40px
		&::-moz-placeholder
			line-height: 40px
		&:-moz-placeholder
			line-height: 40px
		&:-ms-input-placeholder
			line-height: 40px

.content-wrapper
	width: 1200px
	margin: 0 auto
	@extend .clearfix

.header-top__left
	width: 80%
	float: left
.header-top__right
	width: 20%
	float: right

.hide-element-w
	padding-top: 20px
.f-menu__wrapper
	.hide-element-f
		display: block !important
		float: left !important
		clear: both
		margin-bottom: 0
	.hide-element-l
		width: auto
		display: block !important
		float: left !important
		clear: both
.sl1
	width: 100%
	padding: 58px 0
	.sl1__slide
		text-align: center
		img
			display: inline-block
.sl2
	width: 100%
	@extend .clearfix
	border-top: 1px solid #c7c4c9
	height: 100px
	.slick-list
		width: 50%
		float: left
	.sl2__slide
		text-align: center
		height: 100px
		padding-top: 25px
		img
			display: inline-block
	.slick-arrow
		text-indent: -9999px
		width: 25%
		display: block
		border: none
		border-radius: none
		position: relative
		line-height: 100px
		background-color: transparent
		float: left
	.slick-prev
		border-right: 1px solid #c7c4c9 !important
		&::after
			content: ''
			width: 15px
			height: 24px
			background-image: url(../img/prod-slider/s-arrow.png)
			background-repeat: no-repeat
			background-position: left center
			position: absolute
			left: 50%
			margin-left: -7.5px
			top: 50%
			margin-top: -12px
	.slick-next
		border-left: 1px solid #c7c4c9 !important
		&::after
			content: ''
			width: 15px
			height: 24px
			background-image: url(../img/prod-slider/s-arrow.png)
			background-repeat: no-repeat
			background-position: right center
			position: absolute
			left: 50%
			margin-left: -7.5px
			top: 50%
			margin-top: -12px
.popup-img-active
	position: fixed
	left: 0
	right: 0
	margin: 0 auto
	top: 50%
	transform: translateY(-50%)
	min-width: auto
	max-width: 50%
	z-index: 2
	height: auto
.popup-img
	position: absolute
	height: 100%
	width: 100%
	top: 0
	left: 0
	display: none
	text-align: center
.popup-bg
	background: rgba(0, 0, 0, 0.4)
	position: absolute
	z-index: 1
	height: 100%
	width: 100%
.full-content
	width: 100% !important