@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "MuseoSansRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

.header
	@extend .clearfix
	&-top
		&__wrapper
			background-color: #f2eff4
			height: 60px
	&-bottom
		&__wrapper
			min-height: 120px
			padding-top: 33px
			border-bottom: 1px solid #515052
		&__bottom
			@extend .clearfix
.nav
	&__item
		position: relative
		padding-left: 34px
		display: inline-block
		margin-left: 30px
		&:first-child
			margin-left: 0
	&__icon
		width: 24px
		height: 22px
		display: inline-block
		background-image: url(../img/nav-icon.png)
		background-repeat: no-repeat
		position: absolute
		left: 0
		top: 50%
		margin-top: -11px
		&-1
			background-position: 0 0
		&-2
			background-position: -27px 0
			width: 20px
			height: 24px
		&-3
			background-position: -49px 0
			width: 24px
			height: 21px
		&-4
			background-position: -75px 0
			width: 24px
			height: 22px
		&-5
			background-position: -101px 0
			width: 24px
			height: 24px
		&-6
			background-position: -126px 0
			width: 24px
			height: 24px
	&__link
		font-family: "OpenSansRegular", sans-serif
		font-size: 13px
		color: #515052
		line-height: 60px
		display: block
		&:hover
			color: #515052
			text-decoration: underline
.social
	font-size: 0
	padding-top: 18px
	text-align: right
	&__item
		display: inline-block
		margin-left: 10px
		font-size: 16px
	&__link
		width: 24px
		height: 24px
		display: block
		background-image: url(../img/soc-icon.png)
		font-size: 100%
		&-i
			background-position: 0 0
		&-o
			background-position: -25px 0
		&-v
			background-position: -51px 0
.logo
	float: left
	width: 204px
	&__link
		width: 100%
		height: 50px
		display: block
	&__img
		width: 100%
		display: block
.search
	float: left
	width: 280px
	margin-left: 226px
	&__form
		@extend .clearfix
	&__input
		height: 50px
		border: 1px solid #c7c4c9
		padding-left: 20px
		border-radius: 2px 0 0 2px
		float: left
		+percent(215, 280)
	&__button
		+percent(65, 280)
		height: 50px
		background-color: #590000
		border: none
		border-radius: 0 2px 2px 0
		float: left
		background-image: url(../img/loupe.png)
		background-repeat: no-repeat
		background-position: center center
.phone
	text-align: right
	float: left
	margin-left: 60px
	padding-top: 10px
	width: 204px
	&__number
		width: 100%
		color: #333138
		font-family: "MuseoSansMedium", sans-serif
		font-size: 24px
		line-height: 18px
	&__email
		font-family: "OpenSansRegular", sans-serif
		font-size: 14px
		line-height: 18px
		color: #515052
.call-the-master
	float: right
	width: 210px
	&__button
		width: 100%
		display: block
		text-align: center
		border: 1px solid #515052
		border-radius: 2px
		text-transform: uppercase
		height: 50px
		line-height: 50px
		color: #515052
		font-family: "OpenSansRegular", sans-serif
		font-size: 13px
		&:hover
			text-decoration: none
			color: #515052
			background-color: #e5e4e6
.mob-header
	float: right
	@extend .clearfix
	display: none
	padding-top: 5px
.mob-menu
	float: left
	&__icon
		background-image: url(../img/phone-icon-header.png)
		width: 27px
		height: 22px
		display: block
		background-position: 0 0
		cursor: pointer
.mob-search
	float: left
	margin-left: 20px
	&__icon
		background-image: url(../img/phone-icon-header.png)
		width: 22px
		height: 22px
		display: block
		background-position: 0 -24px
.mob-arrow
	float: left
	margin-left: 20px
	&__icon
		background-image: url(../img/phone-icon-header.png)
		width: 20px
		height: 20px
		display: block
		background-position: 0 -48px
.nav-toggle
	position: absolute
	left: 0
	right: 0
	top: 68px
	background-color: #f2eff4
	width: 100%
	padding: 0 10px
	z-index: 1
	display: none
	@extend .clearfix
	.nav__item
		width: 50%
		float: left
		display: block
		margin-left: 0
.content
	&__wrapper
		@extend .clearfix
.sidebar
	float: left
	width: 310px
	&__title
		padding: 20px
		display: block
		background-color: #590000
		&-name
			display: block
			padding-left: 36px
			position: relative
			color: #fff
			font-family: "MuseoSansCyrl900", sans-serif
			text-transform: uppercase
			line-height: 100%
			&::before
				content: ''
				background-image: url(../img/side-bar-icon.png)
				background-position: right top
				width: 16px
				height: 16px
				position: absolute
				font-size: 22px
				left: 0
				top: 0
				line-height: 100%
				color: #fff
	&-menu
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		&__title
			background-color: #515052
			width: 100%
			padding: 20px
			display: block
			cursor: pointer
			&-name
				display: block
				position: relative
				color: #fff
				font-family: "MuseoSansCyrl900", sans-serif
				text-transform: uppercase
				line-height: 100%
				padding-right: 20px
				&::after
					content: ''
					background-image: url(../img/side-bar-icon.png)
					background-position: left bottom
					width: 16px
					height: 10px
					position: absolute
					font-size: 12px
					right: 0
					top: 50%
					margin-top: -5px
					line-height: 100%
		&__wrapper
			padding: 17px 21px
			display: none
		&__item
			display: block
			padding-bottom: 10px
		&__link
			color: #515052
			font-family: "OpenSansRegular", sans-serif
			font-size: 14px
			display: inline-block
			&:hover
				color: #515052
				text-decoration: underline
.main-content
	float: right
	width: 850px
	&__title
		padding-left: 21px
		border-left: 5px solid #590000
		color: #333138
		font-size: 24px
		line-height: 18px
		font-family: "MuseoSansRegular", sans-serif
		margin-top: 29px
	&__description
		margin-top: 21px
		display: block
		&-p
			line-height: 24px
			color: #515052
			margin-bottom: 10px
	&__articles
		&-item
			width: 100%
			display: block
			margin-bottom: 20px
			@extend .clearfix
			&:last-child
				margin-bottom: 30px
			&-img
				display: block
				float: left
				margin-right: 20px
				width: 240px
				height: 160px
			&-title
				color: #333138
				font-family: "MuseoSansBold", sans-serif
				font-size: 18px
				line-height: 18px
			&-description-m
				margin-top: 20px
				font-family: "MuseoSansRegular", sans-serif
				font-size: 14px
				line-height: 24px
				color: #333138
			&-full
				color: #333138
				font-family: "OpenSansRegular", sans-serif
				font-size: 14px
				text-decoration: underline
				margin-top: 20px
				display: inline-block
				&:hover
					text-decoration: none
					color: #333138
	&__card
		@extend .clearfix
		&-slider
			float: left
			width: 400px
			border: 1px solid #c7c4c9
			height: 456px
		&-info
			float: right
			width: 430px
			height: 456px !important
			position: relative
			&-price
				height: 84px
				line-height: 84px
				text-align: center
				width: 100%
				background-color: #515052
				color: #fff
				font-family: "MuseoSansBold", sans-serif
				font-size: 36px
			&-description
				display: block
				height: 372px
				color: #333138
				font-size: 14px
				line-height: 24px
				padding: 28px 40px 38px
				background-color: #f2eff4
				&-item
					margin-bottom: 20px
			&-button
				display: block
				width: 100%
				background-color: #590000
				color: #fefefe
				font-size: 13px
				text-transform: uppercase
				font-family: "OpenSansRegular", sans-serif
				height: 50px
				text-align: center
				line-height: 50px
				border-radius: 2px
				&:hover
					color: #fefefe
					text-decoration: none
				&-wp
					position: absolute
					bottom: 30px
					left: 40px
					right: 40px
			&-ds
				float: left
				margin-top: 24px
				&-title
					color: #333138
					font-family: "MuseoSansRegular", sans-serif
					font-size: 24px
					margin-bottom: 16px
					display: block
	&__catalog
		@extend .clearfix
		padding-bottom: 10px
		&-item
			float: left
			display: block
			width: 100 / 3 + %
		&-link
			display: block
			width: 100%
			height: 283px
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
			position: relative
			color: #fff
			padding: 10px
			&::after
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: rgba(#515052,.7)
			&:hover
				&::after
					background-color: rgba(#632225,.7)
				&::before
					content: ''
					position: absolute
					width: 92%
					height: 92%
					left: 4%
					top: 4%
					display: block
					border: 1px solid #fff
					z-index: 999
		&-text
			position: absolute
			left: 50px
			right: 50px
			top: 50%
			transform: translateY(-50%)
			z-index: 999
			color: #fff
			font-size: 18px
			line-height: 24px
			font-family: "OpenSansExtraBold", sans-serif
			text-transform: uppercase
.path
	margin-top: 9px
	&__item
		display: inline-block
		&::before
			content: '/'
			margin: 0 4px
			color: #515052
			font-size: 12px
			line-height: 30px
			font-family: "OpenSansRegular", sans-serif
		&:first-child
			&::before
				display: none
	&__link
		color: #515052
		font-size: 12px
		line-height: 30px
		font-family: "OpenSansRegular", sans-serif
		&:hover
			color: #515052
			text-decoration: underline
.consultation
	margin-top: 26px
	padding: 40px 40px 43px
	background-color: #f2eff4
	&__row
		@extend .clearfix
		padding-bottom: 20px
	&__title
		color: #333138
		font-size: 24px
		line-height: 18px
		display: block
	&__description
		color: #333138
		font-size: 14px
		line-height: 30px
		margin-top: 9px
	&__input
		width: 48%
		height: 50px
		border: 1px solid #c7c4c9
		border-radius: 2px
		padding: 0 20px
		line-height: 50px
		&-left
			float: left
		&-right
			float: right
	&__comment-area
		width: 100%
		border: 1px solid #c7c4c9
		border-radius: 2px
		padding: 13px 20px 0
		height: 100px
		resize: none
		line-height: 18px
	&__button
		border: none
		height: 50px
		border-radius: 2px
		padding: 0 39px
		background-image: url(../img/button-grad.jpg)
		background-repeat: repeat-x
		background-position: left center
		color: #fefefe
		text-transform: uppercase
		font-family: "OpenSansRegular", sans-serif
		font-size: 13px
		display: inline-block
		&-wrapper
			text-align: right
			padding-top: 20px
.content__wrapper
	padding-bottom: 40px
.footer
	&__top
		min-height: 190px
		background-color: #515052
		border-bottom: 1px solid #504f51
		padding-top: 40px
	&__bootom
		height: 60px
		background-color: #333138
.cont-wrapper
	width: 1200px
	margin: 0 auto
	@extend .clearfix
.footer__f-menu
	margin-left: 223px
	float: left
.footer__phone
	float: right
	margin-left: 0
	padding-top: 0
	.phone__number
		color: #fff
	.phone__email
		color: #d4d4d4
.f-menu
	&__wrapper
		float: left
		margin-left: 38px
		&:first-child
			margin-left: 0
	&__center
		margin-top: 32px
	&__title
		color: #fff
		font-size: 18px
		line-height: 100%
		display: block
		padding-bottom: 14px
	&__item
		display: block
	&__link
		display: inline-block
		color: #d4d4d4
		font-family: "OpenSansRegular", sans-serif
		font-size: 14px
		line-height: 32px
		&:hover
			color: #d4d4d4
			text-decoration: underline
.copyright
	color: #d4d4d4
	font-size: 14px
	line-height: 60px
.sidebar-line, .sidebar-line-mob
	width: 100%
	height: 60px
	background-color: #590000
	padding-right: 2%
	position: relative
.menu-sidebar
	float: left
	+percent(290, 728)
	border-right: 1px solid #d4d4d4
	line-height: 60px
	height: 60px
	cursor: pointer
	.sidebar__title-name
		&::after
			content: ''
			background-image: url(../img/side-bar-icon.png)
			background-position: left bottom
			width: 16px
			height: 10px
			position: absolute
			font-size: 12px
			right: 0
			top: 50%
			margin-top: -5px
			line-height: 100%
.menu-sidebar-active
	.sidebar__title-name
		&::after
			content: ''
			background-image: url(../img/side-bar-icon.png)
			background-position: left top !important
.search-sidebar
	display: block !important
	float: right
	+percent(420, 728)
	margin-left: 0 !important
	position: relative
	margin-top: 10px
	height: 40px
	.search__input
		width: 100%
		padding-right: 44px
		height: 40px
	.search__button
		position: absolute
		right: 0
		background-image: url(../img/loop.png)
		background-repeat: no-repeat
		background-color: transparent
		width: 44px !important
		height: 40px
.sidebar-toggle-menu
	position: absolute
	background-color: #fff
	left: 0
	right: 0
	top: 60px
	padding-bottom: 10px
	display: none
	.sidebar-menu
		-webkit-box-shadow: none
		-moz-box-shadow: none
		box-shadow: none
		.sidebar-menu__title
			width: 38.82%
			background-color: transparent
			.sidebar-menu__title-name
				color: #515052
				&::after
					background-image: url(../img/arrow.png)
	.sidebar-menu__wrapper
		+percent(459, 768)
		position: absolute
		right: 0
		top: 0 !important
.sidebar-menu__title-active
	background-color: #515052 !important
	.sidebar-menu__title-name
		color: #fff !important
		&::after
			background-image: url(../img/side-bar-icon.png) !important
			background-position: left top !important
.sidebar-line-mob
	display: none
	.sidebar-menu__title
		width: 100% !important
		&:hover
			background-color: #515052
			.sidebar-menu__title-name
				color: #fff
				&::after
					background-position: right center
	.sidebar-menu__wrapper
		width: 100%
		background-color: #fff
		z-index: 999
	.sidebar-menu__title-name
		&::after
			background-image: url(../img/mob-arrow.png) !important
			background-repeat: no-repeat
			background-position: left center
			width: 10px
			height: 16px
			margin-top: -8px
.pagination
	border-top: 1px solid #c7c4c9
	display: block
	font-size: 0
	padding-top: 30px
	padding-bottom: 14px
	&__item
		display: inline-block
		margin-left: 10px
		&:first-child
			margin-left: 0
	&__link
		font-size: 13px
		line-height: 13px
		color: #515052
		padding: 10px 12px
		display: block
		border: 1px solid #c7c4c9
		border-radius: 2px
		&:hover
			text-decoration: none
			color: #fff
			background-color: #c7c4c9