@import "bourbon/bourbon"
@import "sass/_vars"
@import "sass/_custom"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: "MuseoSansRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

.header
	@extend .clearfix
	&-top
		&__wrapper
			background-color: #f2eff4
			height: 60px
	&-bottom
		&__wrapper
			min-height: 120px
			padding-top: 33px
			border-bottom: 1px solid #515052
		&__bottom
			@extend .clearfix
.nav
	&__item
		position: relative
		padding-left: 34px
		display: inline-block
		margin-left: 30px
		&:first-child
			margin-left: 0
	&__icon
		width: 24px
		height: 22px
		display: inline-block
		background-image: url(../img/nav-icon.png)
		background-repeat: no-repeat
		position: absolute
		left: 0
		top: 50%
		margin-top: -11px
		&-1
			background-position: 0 0
		&-2
			background-position: -27px 0
			width: 22px
			height: 24px
		&-3
			background-position: -49px 0
			width: 26px
			height: 21px
		&-4
			background-position: -75px 0
			width: 26px
			height: 22px
		&-5
			background-position: -101px 0
			width: 25px
			height: 24px
		&-6
			background-position: -126px 0
			width: 24px
			height: 24px
	&__link
		font-family: "OpenSansRegular", sans-serif
		font-size: 13px
		color: #515052
		line-height: 60px
		display: block
		&:hover
			color: #515052
			text-decoration: underline
.social
	font-size: 0
	padding-top: 18px
	text-align: right
	&__item
		display: inline-block
		margin-left: 10px
		font-size: 16px
	&__link
		width: 24px
		height: 24px
		display: block
		background-image: url(../img/soc-icon.png)
		font-size: 100%
		&-i
			background-position: 0 0
		&-o
			background-position: -25px 0
		&-v
			background-position: -51px 0
.logo
	float: left
	width: 204px
	&__link
		width: 100%
		height: 50px
		display: block
	&__img
		width: 100%
		display: block
.search
	float: left
	width: 280px
	margin-left: 226px
	&__form
		@extend .clearfix
	&__input
		height: 50px
		border: 1px solid #c7c4c9
		padding-left: 20px
		border-radius: 2px 0 0 2px
		float: left
		+percent(215, 280)
		color: #515052
		font-size: 14px
		font-family: "MuseoSansMedium", sans-serif
	&__button
		+percent(65, 280)
		height: 50px
		background-color: #590000
		border: none
		border-radius: 0 2px 2px 0
		float: left
		background-image: url(../img/loupe.png)
		background-repeat: no-repeat
		background-position: center center
		&:hover
			background-color: #820101
.phone
	text-align: right
	float: left
	margin-left: 60px
	padding-top: 10px
	width: 204px
	&__number
		width: 100%
		color: #333138
		font-family: "MuseoSansMedium", sans-serif
		font-size: 24px
		line-height: 18px
	&__email
		font-family: "OpenSansRegular", sans-serif
		font-size: 14px
		line-height: 18px
		color: #515052
		text-decoration: underline
		&:hover
			text-decoration: none
			color: #515052
.call-the-master
	float: right
	width: 210px
	&__button
		width: 100%
		display: block
		text-align: center
		border: 1px solid #515052
		border-radius: 2px
		text-transform: uppercase
		height: 50px
		line-height: 50px
		color: #515052
		font-family: "OpenSansRegular", sans-serif
		font-size: 13px
		text-decoration: none
		&:hover
			color: #fff
			background-color: #590000
			&:active
				background-color: #820101
				color: #fff
			&:focus
				text-decoration: none
				color: #fff
.mob-header
	float: right
	@extend .clearfix
	display: none
	padding-top: 5px
.mob-menu
	float: left
	&__icon
		background-image: url(../img/phone-icon-header.png)
		width: 27px
		height: 22px
		display: block
		background-position: 0 0
		cursor: pointer
.mob-search
	float: left
	margin-left: 20px
	&__icon
		background-image: url(../img/phone-icon-header.png)
		width: 22px
		height: 22px
		display: block
		background-position: 0 -24px
		cursor: pointer
.mob-arrow
	float: left
	margin-left: 20px
	&__icon
		background-image: url(../img/phone-icon-header.png)
		width: 20px
		height: 20px
		display: block
		background-position: 0 -48px
		cursor: pointer
.nav-toggle
	position: absolute
	left: 0
	right: 0
	top: 68px
	background-color: #f2eff4
	width: 100%
	padding: 0 10px
	z-index: 1
	display: none
	z-index: 998
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	@extend .clearfix
	.nav__item
		width: 50%
		float: left
		display: block
		margin-left: 0
.content
	&__wrapper
		@extend .clearfix
.sidebar
	float: left
	width: 310px
	&__title
		padding: 20px
		display: block
		background-color: #590000
		&-name
			display: block
			padding-left: 36px
			position: relative
			color: #fff
			font-family: "MuseoSansCyrl900", sans-serif
			text-transform: uppercase
			line-height: 100%
			&::before
				content: ''
				background-image: url(../img/side-bar-icon.png)
				background-position: right top
				width: 16px
				height: 16px
				position: absolute
				font-size: 22px
				left: 0
				top: 0
				line-height: 100%
				color: #fff
	&-menu
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		&__title
			background-color: #515052
			width: 100%
			padding: 20px
			display: block
			cursor: pointer
			&-name
				display: block
				position: relative
				color: #fff
				font-family: "MuseoSansCyrl900", sans-serif
				text-transform: uppercase
				line-height: 100%
				padding-right: 20px
				&::after
					content: ''
					background-image: url(../img/arow-s.png)
					background-position: center
					background-repeat: no-repeat
					width: 16px
					height: 10px
					position: absolute
					font-size: 12px
					right: 0
					top: 50%
					margin-top: -5px
					line-height: 100%
		&__wrapper
			padding: 17px 21px
		&__item
			display: block
			padding-bottom: 10px
		&__link
			color: #515052
			font-family: "OpenSansRegular", sans-serif
			font-size: 14px
			display: inline-block
			&:hover
				color: #515052
				text-decoration: underline
.main-content
	float: right
	width: 850px
	&__title
		padding-left: 21px
		border-left: 5px solid #590000
		color: #333138
		font-size: 24px
		line-height: 18px
		font-family: "MuseoSansRegular", sans-serif
		margin-top: 29px
	&__description
		margin-top: 21px
		display: block
		position: relative
		p
			line-height: 24px
			color: #515052
			margin-bottom: 10px
	&__articles
		&-item
			width: 100%
			display: block
			margin-bottom: 20px
			@extend .clearfix
			&:last-child
				margin-bottom: 30px
			&-img
				display: block
				float: left
				margin-right: 20px
				width: 240px
				height: 160px
			&-title
				color: #333138
				font-family: "MuseoSansBold", sans-serif
				font-size: 18px
				line-height: 18px
			&-description-m
				margin-top: 20px
				font-family: "MuseoSansRegular", sans-serif
				font-size: 14px
				line-height: 24px
				color: #333138
			&-full
				color: #333138
				font-family: "OpenSansRegular", sans-serif
				font-size: 14px
				text-decoration: underline
				margin-top: 20px
				display: inline-block
				&:hover
					text-decoration: none
					color: #333138
	&__card
		@extend .clearfix
		&-slider
			float: left
			width: 400px
			border: 1px solid #c7c4c9
			height: 456px
		&-info
			float: right
			width: 430px
			height: 456px !important
			position: relative
			&-price
				height: 84px
				line-height: 84px
				text-align: center
				width: 100%
				background-color: #515052
				color: #fff
				font-family: "MuseoSansMedium", sans-serif
				font-size: 36px
			&-description
				display: block
				height: 372px
				color: #333138
				font-size: 14px
				line-height: 24px
				padding: 28px 40px 38px
				background-color: #f2eff4
				&-item
					margin-bottom: 20px
			&-button
				display: block
				width: 100%
				background-color: #590000
				color: #fefefe
				font-size: 13px
				text-transform: uppercase
				font-family: "OpenSansRegular", sans-serif
				height: 50px
				text-align: center
				line-height: 50px
				border-radius: 2px
				&:hover
					color: #fefefe
					text-decoration: none
					background-color: #820101
				&:active
					color: #fefefe
				&:focus
					color: #fefefe
				&-wp
					position: absolute
					bottom: 30px
					left: 40px
					right: 40px
			&-ds
				float: left
				margin-top: 24px
				&-title
					color: #333138
					font-family: "MuseoSansRegular", sans-serif
					font-size: 24px
					margin-bottom: 16px
					display: block
	&__catalog
		@extend .clearfix
		padding-bottom: 10px
		&-glav
			padding-bottom: 40px
			border-bottom: 1px solid #c7c4c9
		&-item
			float: left
			display: block
			width: 100 / 3 + %
		&-link
			display: block
			width: 100%
			height: 283px
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
			position: relative
			color: #fff
			padding: 10px
			&::after
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				background-color: rgba(#515052,.7)
			&::before
				content: ''
				position: absolute
				width: 92%
				height: 92%
				left: 4%
				top: 4%
				display: block
				border: 1px solid transparent
				z-index: 999
			&:hover
				&::after
					background-color: rgba(#632225,.7)
					@include transition(all 0.5s ease-in-out)
				&::before
					border: 1px solid #fff
					@include transition(all 0.5s ease-in-out)
		&-text
			position: absolute
			left: 50px
			right: 50px
			top: 50%
			transform: translateY(-50%)
			z-index: 999
			color: #fff
			font-size: 18px
			line-height: 24px
			font-family: "OpenSansExtraBold", sans-serif
			text-transform: uppercase
	&__contacts
		&-top
			margin-left: -40px
			@extend .clearfix
			&-item
				padding: 8px 20px 20px
				background-color: #f2eff4
				width: 373px
				margin-left: 40px
				float: left
				margin-bottom: 40px
			&-title
				color: #590000
				font-size: 18px
				padding: 10px 0
				font-family: "MuseoSansMedium", sans-serif
				display: block
			&-line
				color: #333138
				font-size: 16px
				padding: 2px 0
				&-bold
					font-family: "MuseoSansBold", sans-serif
		&-bottom
			width: 100% !important
			height: 350px
	&__documentation
		&-item
			display: inline-block
			width: 320px
			margin-bottom: 8px
		&-link
			display: block
			position: relative
			color: #515052
			font-size: 14px
			font-family: "OpenSansRegular", sans-serif
			padding: 8px 0 8px 28px
			&:hover
				color: #515052
				text-decoration: underline
			&::before
				content: ''
				position: absolute
				left: 0
				top: 50%
				width: 18px
				height: 24px
				margin-top: -12px
				background-image: url(../img/file.png)
	&__top-img
		height: 220px
		&-img
			width: 100%
			display: block
			height: 100%
			background-image: url(../img/top-img.jpg)
			background-repeat: no-repeat
			background-position: center top
			background-size: cover
	&__lprod
		margin-left: -42px
		@extend .clearfix
		&-item
			width: 255px
			height: 355px
			padding: 40px 20px 0
			border: 1px solid #c7c4c9
			text-align: center
			position: relative
			margin-left: 42px
			margin-bottom: 30px
			float: left
			&:hover
				-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
				-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
				box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
				border: none
		&-img
			width: 132px
			height: 105px
			display: block
			margin: 0 auto
		&-title
			margin-top: 40px
			display: inline-block
			color: #515052
			text-decoration: underline
			&:hover
				text-decoration: none
				color: #515052
		&-price
			color: #333138
			font-family: "MuseoSansMedium", sans-serif
			font-size: 24px
			padding-top: 8px
			padding-bottom: 12px
		&-wp
			left: 20px
			right: 20px
	&__slider
		height: 410px
		.slick-dots
			position: absolute
			right: 35px
			bottom: 40px
			@extend .clearfix
			li
				float: left
				button
					text-indent: -9999px
					width: 16px
					height: 16px
					padding: 0
					background-color: #fff
					border-radius: 50%
					border: none
					margin: 0 5px
			.slick-active
				button
					position: relative
					&::after
						content: ''
						position: absolute
						width: 8px
						height: 8px
						background-color: #590000
						left: 4px
						top: 4px
						border-radius: 50%
		&-item
			position: relative
		&-img
		&-text
			position: absolute
			bottom: 76px
			left: 38px
			right: 38px
			display: block
			cursor: default
			&-title
				color: #333138
				font-size: 48px
				line-height: 48px
				font-family: "MuseoSansBlack", sans-serif
	&__inform
		width: 100%
		background-color: #661818
		padding: 40px
		&-block
			@extend .clearfix
			&-item
				padding-left: 74px
				position: relative
				float: left
				width: 100 / 3 + %
				&:first-child
					margin-left: 0
			&-circle
				width: 64px
				position: absolute
				height: 64px
				border-radius: 50%
				border: 1px solid #fff
				left: 0
				top: 0
				&::after
					content: ''
					background-image: url(../img/main-icon.png)
					background-repeat: no-repeat
					display: block
					position: absolute
					left: 50%
					top: 50%
				&-1
					&::after
						height: 32px
						width: 32px
						background-position: 0 0
						margin-left: -16px
						margin-top: -16px
				&-2
					&::after
						height: 24px
						width: 32px
						background-position: -34px 0
						margin-left: -16px
						margin-top: -12px
				&-3
					&::after
						height: 20px
						width: 32px
						background-position: -68px 0
						margin-left: -16px
						margin-top: -10px
			&-title
				color: #fff
				font-family: "MuseoSansMedium", sans-serif
				font-size: 18px
				padding-bottom: 5px
				display: inline-block
			&-description
				color: #fff
				font-size: 14px
				font-family: "MuseoSansRegular", sans-serif
				line-height: 16px
	&__more
		width: 100%
		border-bottom: 3px solid #c7c4c9
		text-align: center
		position: relative
		margin-bottom: 20px
		&::after
			content: ''
			@include triangle(12px, #c7c4c9, down)
			position: absolute
			bottom: -7px
			left: 50%
			margin-left: -6px
			display: block
		&__bg
			&::before
				content: ''
				width: 100%
				height: 30px
				display: block
				left: 0
				right: 0
				position: absolute
				bottom: 22px
				background-color: rgba(#fff,.5);
		&-button
			width: 116px
			margin: 0 auto
			background-color: #c7c4c9
			border-radius: 2px 2px 0 0
			display: block
			line-height: 21px
			color: #515052
			font-size: 14px
			font-family: "OpenSansRegular", sans-serif
			cursor: pointer
		&-hidden
			display: none
		&-d
			margin-top: 0
	&__partners
		@extend .clearfix
		margin-top: 30px
		border-bottom: 1px solid #c7c4c9
		padding-bottom: 30px
		&-item
			float: left
			width: 100 / 3 + %
			display: block
			margin-bottom: 36px
		&-link
			display: inline-block
			img
				display: block
	&__bslider
		width: 100%
		.slick-arrow
			display: none !important
		&-item
			display: inline-block
			margin-right: 1%
		&-img
			width: 404px
			display: block
			width: 100%
		&-title
			color: #333138
			font-size: 18px
			font-family: "MuseoSansRegular", sans-serif
			line-height: 24px
			margin-top: 10px
			display: inline-block
		&-description
			color: #333138
			font-size: 14px
			font-family: "MuseoSansRegular", sans-serif
			line-height: 18px
			margin-top: 5px
	&__arrow
		position: absolute
		right: 0
		top: -45px
		font-size: 0
		&-button
			width: 15px
			height: 24px
			background-image: url(../img/prod-slider/s-arrow.png)
			background-repeat: no-repeat
			background-position: left top
			display: inline-block
			cursor: pointer
			&:hover
				background-position: left bottom
			&:last-child
				background-position: right top
				margin-left: 16px
				&:hover
					background-position: right bottom
.path
	margin-top: 9px
	&__item
		display: inline-block
		&::before
			content: '/'
			margin: 0 4px
			color: #515052
			font-size: 12px
			line-height: 30px
			font-family: "OpenSansRegular", sans-serif
		&:first-child
			&::before
				display: none
	&__link
		color: #515052
		font-size: 12px
		line-height: 30px
		font-family: "OpenSansRegular", sans-serif
		&:hover
			color: #515052
			text-decoration: underline
.consultation
	margin-top: 26px
	padding: 40px 40px 43px
	background-color: #f2eff4
	&__row
		@extend .clearfix
		padding-bottom: 20px
	&__title
		color: #333138
		font-size: 24px
		line-height: 18px
		display: block
	&__description
		color: #333138
		font-size: 14px
		line-height: 30px
		margin-top: 9px
	&__input
		width: 48%
		height: 50px
		border: 1px solid #c7c4c9
		border-radius: 2px
		padding: 0 20px
		line-height: 50px
		&-left
			float: left
		&-right
			float: right
	&__comment-area
		width: 100%
		border: 1px solid #c7c4c9
		border-radius: 2px
		padding: 13px 20px 0
		height: 100px
		resize: none
		line-height: 18px
	&__button
		border: none
		height: 50px
		border-radius: 2px
		padding: 0 39px
		background-color: #590000
		background-repeat: repeat-x
		background-position: left center
		color: #fefefe
		text-transform: uppercase
		font-family: "OpenSansRegular", sans-serif
		font-size: 13px
		display: inline-block
		&:hover
			background-color: #820101
		&-wrapper
			text-align: right
			padding-top: 20px
.content__wrapper
	padding-bottom: 40px
.footer
	&__top
		min-height: 190px
		background-color: #515052
		border-bottom: 1px solid #504f51
		padding-top: 40px
	&__bootom
		background-color: #333138
.cont-wrapper
	width: 1200px
	margin: 0 auto
	@extend .clearfix
.footer__f-menu
	margin-left: 223px
	float: left
.footer__phone
	float: right
	margin-left: 0
	padding-top: 0
	.phone__number
		color: #fff
	.phone__email
		color: #d4d4d4
		text-decoration: underline
		&:hover
			text-decoration: none
.f-menu
	&__wrapper
		float: left
		margin-left: 38px
		&:first-child
			margin-left: 0
	&__center
		margin-top: 32px
	&__title
		color: #fff
		font-size: 18px
		line-height: 100%
		display: block
		padding-bottom: 14px
	&__item
		display: block
	&__link
		display: inline-block
		color: #d4d4d4
		font-family: "OpenSansRegular", sans-serif
		font-size: 14px
		line-height: 32px
		&:hover
			color: #d4d4d4
			text-decoration: underline
.copyright
	@extend .clearfix
	width: 100%
	padding: 20px 0
	&__right
		color: #d4d4d4
		font-size: 14px
		float: right
		width: 50%
		text-align: right
		&-link
			color: #d4d4d4
			text-decoration: underline
			&:hover
				text-decoration: none
				color: #d4d4d4
	&__left
		color: #d4d4d4
		font-size: 14px
		float: left
		width: 50%
		text-align: left
.sidebar-line, .sidebar-line-mob
	width: 100%
	height: 60px
	background-color: #590000
	padding-right: 2%
	position: relative
.menu-sidebar
	float: left
	+percent(290, 728)
	border-right: 1px solid #d4d4d4
	line-height: 60px
	height: 60px
	cursor: pointer
	.sidebar__title-name
		&::after
			content: ''
			background-image: url(../img/side-bar-icon.png)
			background-position: left bottom
			width: 16px
			height: 10px
			position: absolute
			font-size: 12px
			right: 0
			top: 50%
			margin-top: -5px
			line-height: 100%
.menu-sidebar-active
	.sidebar__title-name
		&::after
			content: ''
			background-image: url(../img/side-bar-icon.png)
			background-position: left top !important
.search-sidebar
	display: block !important
	float: right
	+percent(420, 728)
	margin-left: 0 !important
	position: relative
	margin-top: 10px
	height: 40px
	.search__input
		width: 100%
		padding-right: 44px
		height: 40px
	.search__button
		position: absolute
		right: 0
		background-image: url(../img/loop.png)
		background-repeat: no-repeat
		background-color: transparent
		width: 44px !important
		height: 40px
.sidebar-toggle-menu
	position: absolute
	background-color: #fff
	left: 0
	right: 0
	top: 60px
	padding-bottom: 10px
	display: none
	z-index: 997
	.sidebar-menu
		-webkit-box-shadow: none
		-moz-box-shadow: none
		box-shadow: none
		.sidebar-menu__title
			width: 38.82%
			background-color: transparent
			.sidebar-menu__title-name
				color: #515052
				&::after
					background-image: url(../img/arrow.png)
	.sidebar-menu__wrapper
		+percent(459, 768)
		position: absolute
		right: 0
		top: 0 !important
		display: none
.sidebar-menu__title-active
	background-color: #515052 !important
	.sidebar-menu__title-name
		color: #fff !important
		&::after
			background-image: url(../img/side-bar-icon.png) !important
			background-position: left top !important
.sidebar-line-mob
	display: none
	.sidebar-menu__title
		width: 100% !important
		&:hover
			background-color: #515052
			.sidebar-menu__title-name
				color: #fff
				&::after
					background-position: right center
	.sidebar-menu__wrapper
		width: 100%
		background-color: #fff
		z-index: 999
	.sidebar-menu__title-name
		&::after
			background-image: url(../img/mob-arrow.png) !important
			background-repeat: no-repeat
			background-position: left center
			width: 10px
			height: 16px
			margin-top: -8px
.pagination
	border-top: 1px solid #c7c4c9
	display: block
	font-size: 0
	padding-top: 30px
	padding-bottom: 14px
	&__item
		display: inline-block
		margin-left: 10px
		&:first-child
			margin-left: 0
	&__link
		font-size: 13px
		line-height: 13px
		color: #515052
		padding: 10px 12px
		display: block
		border: 1px solid #c7c4c9
		border-radius: 2px
		&:hover
			text-decoration: none
			color: #fff
			background-color: #c7c4c9
.pop-up
	width: 385px
	background-color: #f2eff4
	margin: 0 auto
	position: relative
	&__title
		color: #333138
		text-transform: uppercase
		font-size: 24px
		font-family: "MuseoSansBlack", sans-serif
	&__p
		color: #333138
		font-size: 16px
		line-height: 25px
		font-family: "MuseoSansRegular", sans-serif
		margin-bottom: 20px
		margin-top: 10px
	&__wrapper
		text-align: center
		padding-left: 40px
		padding-right: 40px
		padding-top: 32px
		padding-bottom: 114px
	&__input
		width: 100%
		display: block
		height: 50px
		border: 1px solid #c7c4c9
		border-radius: 2px
		padding-left: 34px
		position: relative
		background-repeat: no-repeat
		background-position: 10px center
		&-av
			margin-bottom: 10px
			background-image: url(../img/popup-icon/1.png)
		&-ph
			background-image: url(../img/popup-icon/2.png)
	&__button
		width: 100%
		display: block
		height: 50px
		background-color: #590000
		line-height: 50px
		border-radius: 2px
		border: none
		text-transform: uppercase
		color: #fff
		font-size: 13px
		font-family: "OpenSansRegular", sans-serif
		padding: 0
		&-wrapper
			position: absolute
			bottom: 44px
			left: 40px
			right: 40px
.pop-up-ok
	width: 385px
	background-color: #f2eff4
	margin: 0 auto
	position: relative
	&__wrapper
		text-align: center
		padding-left: 40px
		padding-right: 40px
		padding-top: 32px
		padding-bottom: 24px
	&__p
		text-transform: none !important
	&__title
		color: #333138
		font-size: 24px
		font-family: "MuseoSansBlack", sans-serif
.search-mob
	width: 100%
	position: absolute
	padding: 20px 10px
	top: 68px
	left: 0
	right: 0
	z-index: 998
	background-color: #f2eff4
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	display: none
.mob-arow__wrapper
	width: 100%
	position: absolute
	left: 0
	right: 0
	top: 68px
	z-index: 998
	display: block
	background-color: #f2eff4
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15), inset 0px 5px 5px 0px rgba(0,0,0,0.15)
	display: none
	.pop-up__wrapper
		padding-left: 2%
		padding-right: 2%
	.pop-up__button-wrapper
		left: 2%
		right: 2%
	.pop-up__title
		font-size: 18px
		text-transform: none !important
		font-family: "MuseoSansRegular", sans-serif
	.pop-up__p
		font-size: 14px
.main-content__more-button-open
	display: none
.main-content__bslider-item a b:hover
	text-decoration: underline