@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.content-wrapper
		width: 1000px
	.main-content
		width: 670px
	.nav__item
		margin-left: 20px
		padding-left: 30px
	.search, .phone
		margin-left: 48px;
	.call-the-master
		width: 200px
	.footer__f-menu
		margin-left: 108px
	.main-content__card-info
		width: 250px
	.main-content__card-info-description
		padding: 22px 20px
	.main-content__card-info-description-item
		margin-bottom: 10px
	.main-content__catalog-link
		height: 224px
	.main-content__catalog-text
		left: 32px
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 1000px)
	.content-wrapper
		width: 100%
		padding: 0 2%
	.header-top__right, .search
		display: none
	.phone
		margin-left: 95px
		margin-left: 0
	.header-top__left
		width: 100%
	.phone
		float: right
		margin-right: 20px
	.sidebar
		display: none
	.main-content
		width: 100%
	.logo-footer
		float: right
		margin-bottom: 16px
	.footer__f-menu
		margin-left: 0
	.footer__phone
		clear: right
		margin-right: 0
	.main-content__card-info
		width: 308 * 100 / 728 + %
	.main-content__card-slider
		width: 400 * 100 / 728 + %
	.main-content__catalog-link
		height: 222px
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.logo
		width: 126px
	.phone, .call-the-master
		display: none
	.header-bottom__wrapper
		min-height: 60px
		padding-top: 18px
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
		z-index: 999
		border-bottom: none
	.mob-header
		display: block
	.header-top__wrapper
		display: none
	.search-sidebar
		display: none !important
	.menu-sidebar
		width: 100%
		border: none
	.sidebar-line-mob
		padding-right: 0 !important
		.sidebar-menu__title
			width: 100% !important
	.sidebar-line
		display: none
	.sidebar-line-mob
		display: block
	.consultation
		padding: 22px 10px
		margin-left: -2%
		width: 104%
	.consultation__input
		width: 100%
	.consultation__input-left
		margin-bottom: 10px
	.consultation__row
		padding-bottom: 10px
	.consultation__button
		width: 100%
	.content__wrapper
		padding-bottom: 0
	.f-menu__link
		font-size: 12px
		line-height: 30px
	.f-menu__title
		font-size: 16px
	.footer__phone
		display: block !important
		.phone__number
			font-size: 16px
		.phone__email
			font-size: 12px
	.f-menu__wrapper
		width: 50%
		margin-left: 0
	.footer__f-menu
		width: 100%
	.logo-footer
		display: none
	.footer__phone
		display: none !important
	.footer__top
		padding-bottom: 17px
	.f-menu__wrapper-last
		margin-top: 20px
	.main-content__articles-item-img
		float: none
		width: 100%
		height: auto
	.main-content__articles-item-title,
	.main-content__articles-item-description-m,
	.main-content__articles-item-full
		margin-top: 10px
	.main-content__articles-item-title
		font-size: 16px
		line-height: 18px
	.main-content__card-info
		width: 100%
	.main-content__card-slider
		width: 100%
		margin-bottom: 20px
	.main-content__catalog-item
		width: 50%
	.main-content__catalog-link
		height: 150px
	.main-content__catalog-text
		font-size: 12px
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.hide-element-w
		display: none
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 1000px)
	.sidebar-line
		display: none
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

